.login-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.bottom-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.navbar-item {
  border-bottom: 2px solid transparent;

  &.active {
    font-weight: bold;
    border-bottom: 2px solid hsl(221, 14%, 71%);
  }
}
